@import '../../estilosperosnalizados/rootstyles.scss';


main.projetos {
    width: 100%;
    padding-top: 100px;

    .container-projetos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px 0;


        .title-projetos {
            padding-bottom: 30px;
            text-align: center;


            h1 {

                font-size: 55px;
                text-align: center;
                margin-bottom: 17px;

            }

            span {
                font-family: map-get(map-get($font-styles, large), font-family);
                font-size: map-get(map-get($font-styles, large), font-size);


            }

        }

        .boxes-inicio {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 70px 50px;

    

        }

        .boxes-projetos {
            border-radius: 25px ;
            flex-basis: 28.33%;
            border: none;
        

            .wrapper-projetos {
                display: flex;
                flex-direction: column;
                gap: 30px 0;


            }

            .imagem-projetos {
             


                img {
                 width: 100%;
                  height: 220px;
                    border-radius:20px 20px 1px 0;
                    
                }
            }

            .itens-projetos {
                padding: 5px 20px;
                display: flex;
                flex-direction: column;
                gap: 15px 0;

                .itens-title-projetos {
                    margin-bottom: 10px;


                    h1 {

                        font-size: 25px;
                        color: white;
                    }

                }

                .descricao-projetos span {

                    text-align: justify;
                    color: white;

                }

                .habildades-projetos p {
                    font-size: 14px;
                    color: white;
                }


            }

            .buttons-projetos {
                padding: 0 20px 15px 20px;
                display: flex;
                justify-content: space-between;
                color: white;

                a {
                    color: white;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 7px;

                }


            }
        }
    }

}


@media screen and (max-width: 1050px) {

    main.projetos {


        .boxes-inicio {


            .boxes-projetos {
               

                flex-basis: calc(47.3% - 30px);



            }
        }
    }
}



@media screen and ( max-width : 985px){

    main.projetos {


        .boxes-inicio {


            .boxes-projetos {
               

                flex-basis: calc(47.3% - 30px);



            }
        }
    }
}

@media screen and (max-width: 768px) {

    main.projetos {


        .boxes-inicio {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            gap: 60px 35px;

            .boxes-projetos {
                display: flex;
                border: none;
                flex-wrap: wrap;


                flex-basis: 60%;


            }
        }
    }
}




@media screen and (max-width: 500px) {

    main.projetos {


        .boxes-inicio {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            gap: 60px 35px;

            .boxes-projetos {
                display: flex;
                border: none;
                flex-wrap: wrap;


                flex-basis: 80%;


            }
        }
    }
}